.wpua_center_table_cell {
	text-align: center !important;
}

.wpua_table_no_margin {
	margin-bottom: 0px;
}

.wpua_overview_container {
	overflow: auto;
	max-height: 65vh;
}
.wpua_centered_cell_content {
	text-align: center;
	vertical-align: middle !important;
}

